	</div>
	<footer>
		&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		
		<nav class="icons">
			<ul>
				<li><a href="https://github.com/alexjhetherington?tab=repositories" target="_blank" rel="noopener"><img class="icon" src="/img/github.svg" alt="Github" width="16px"></a></li>
				<li><a href="https://twitter.com/FootnotesFuture" target="_blank" rel="noopener"><img class="icon" src="/img/twitter.svg" alt="Twitter" width="16px"></a></li>
				<li><a href="mailto:footnotesforthefuture@gmail.com" target="_blank" rel="noopener"><img class="icon" src="/img/email.svg" alt="Email" width="16px"></a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>